body {
  font-family: "Monoton", cursive;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  text-align: center;
  background-size: cover;
  background-repeat: space;
  background-color: rgb(71, 69, 69);
  margin: 0;
}

html {
  margin: 10%;
  padding: 0;
}

.container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 0.05fr 1fr 0.05fr;
  grid-template-areas:
    "top-center"
    "game"
    "btm-center";
  background-color: black;
  align-items: center;
  border: 5px solid white;
  height: 600px;
  width: 700px;
  max-height: 835px;
  max-width: 800px;
}

#canvas1 {
  height: 400px;
  width: 600px;
  margin-left: 50px;
}

#title {
  font-family: "Monoton", cursive;
  color: white;
  grid-area: top-center;
  border-bottom: 5px solid white;
}

#start {
  font-family: "Monoton", cursive;
  grid-area: btm-center;
  color: white;
  border-top: 5px solid white;
}

.platform {
  width: 85px;
  height: 15px;
  background-color: orange;
  position: absolute;
}

main {
  grid-area: game;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: black;
  }
  #canvas1 {
    height: 300px;
    width: 425px;
    margin-left: 0px;
  }
  .container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 0.05fr 1fr 0.05fr;
    grid-template-areas:
      "top-center"
      "game"
      "btm-center";
    background-color: black;
    align-items: center;
    border: 5px solid white;
    height: 600px;
    width: 600px;
    max-height: 500px;
    max-width: 500px;
  }
}
