body {
  font-family: "Monoton", cursive;
  display: flex;
  justify-content: center;
  padding-top: 2em;
  text-align: center;
  background-size: cover;
  background-repeat: space;
  background-color: rgb(71, 69, 69);
  margin: 0;
}

html {
  margin: 10%;
  padding: 0;
}

.container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 0.05fr 1fr 0.05fr;
  grid-template-areas:
    "top-center"
    "game"
    "btm-center";
  background-color: black;
  align-items: center;
  border: 5px solid white;
  height: 835px;
  width: 700px;
  max-height: 835px;
  max-width: 800px;
}

#game {
  height: 600px;
  width: 640px;
  background-size: contain;
  animation: displace 2s linear infinite;
  margin-left: 30px;
  margin-right: 30px;
}

#title {
  font-family: "Monoton", cursive;
  color: white;
  grid-area: top-center;
  border-bottom: 5px solid white;
}

#start {
  font-family: "Monoton", cursive;
  grid-area: btm-center;
  color: white;
  border-top: 5px solid white;
}

.platform {
  width: 85px;
  height: 15px;
  background-color: orange;
  position: absolute;
}

main {
  grid-area: game;
}
